includes:
    - phpstan-baseline.neon

parameters:
    level: max
    tmpDir: .phpstan

    paths:
        - ../../app/src
    bootstrapFiles:
        - ../../app/vendor/autoload.php

    checkMissingIterableValueType: false
